/* -----------------------------------------------Estilos para el header---------------------- */

 header {
    background-color: #3C0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #C9846A;
    border-radius: 2px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
  }
  
  .nav-menu li a {
    color: #C9846A;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
  }
  
  .logo {
    width: 55px;
    height: auto;
  }
  
  .carrito-icon {
    width: 30px;
    height: auto;
  }

/*------------------------------------------------Estilos Body-------------------------------- */
body {
    color: #ffffff;
    background-color: #3C0000;
    font-family: "Antic Didone", serif; /* Aplicamos la fuente a todo el sitio */
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    display: block; /* Elimina el espacio en la parte inferior de las imágenes */
    margin: auto; /* Centra las imágenes horizontalmente */


}
.container {
    position: relative; /* Contenedor relativo para posicionar elementos hijos */
    text-align: center; /* Centra el texto horizontalmente */
    width: 100%;
    margin: 0 auto;
    
}
.notas-salida img, .notas-corazon img, .notas-fondo img {
    border-radius: 15px; /* Ajusta el valor para redondear las esquinas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    cursor: pointer; /* Cambia el cursor a una mano interactuable */

}
.notas-corazon,.notas-fondo,.notas-salida{
    
    display: grid; /* Activa CSS Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 10px; /* Espaciado entre las imágenes */
    width: 90%; /* Ancho del contenedor */
    margin: 50px auto 0 auto; /* Centra el contenedor y lo aleja del borde superior */    
}
h1 {
    
    color: #171620;
    font-size: 700%;
    top: 5%; /* Centra verticalmente el encabezado */
    left: 50%; /* Centra horizontalmente el encabezado */
    transform: translate(-50%, -50%); /* Ajusta el texto para centrarlo */
    position: absolute; /* Superpone el encabezado sobre la imagen */
    z-index: 1; /* Asegura que el texto es*/

}
h2{
    margin-top: 130px;
    color:#C9846A;
    font-size: 300%;
    text-align: center; /* Centra el texto horizontalmente */

}
h6{
    
    color:#C9846A;
    font-size: 200%;
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 30px;
    margin-top: -50px;

}
.delgado{
    font-weight: 100;/* Aplica fuente delgado */
}
p {
    margin: 10px 0;
    color:#C9846A;
    font-size: 200%;
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 100px;
}
.tooltip {
    position: absolute;
    background-color: #C9846A;
    color: #ffffff;
    /*padding: 5px 10px;*/
    border-radius: 5px;
    font-size: 20px;
    display: none; /* Oculto por defecto */
    z-index: 100;
}


/* ----------------------------------------estilo boton personalizar------------------------------------------------- */
.excel-box table {
    width: 70%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse; /* Elimina los espacios entre bordes */
    margin: 20px auto; /* Centra la tabla */
    background-color: #7c2a2a; /* Color de fondo de la tabla */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen */
}
.excel-box th, .excel-box td {/* Estilo de las celdas */

    border: 1px solid #3C0000; /* Bordes de las celdas */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    font-family: 'Antic Didone', serif; /* Fuente personalizada */
    font-size: 1rem; /* Tamaño del texto */
    color: #000000; /* Color del texto en las celdas */
    
}
.excel-box th {/* Fondo de los títulos */
    font-weight: bold; /* Texto en negrita */
    
}
.excel-box td {/* Fondo de las celdas */
    background-color: #7c2a2a; /* Fondo de las celdas */
    color: #ffffff; /* Color del texto en las celdas */
    font-size:medium; /* Tamaño del texto */

    
}
.perso-boton {
    background-color: #C9846A; /* Cambia el color de fondo */
    border-color: #C9846A;
    color: #000000; /* Mantén el texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 20px; /* Tamaño del texto */
    font-family: 'Antic Didone', serif; /* Fuente personalizada */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 50px auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón se comporte como un bloque */
    text-align: center; /* Centra el texto dentro del botón */
    transition: background-color 0.3s ease; /* Animación suave al pasar el cursor */
}
.perso-boton:hover {
    background-color: #7c2a2a; /* Cambia el color al pasar el cursor */
}


/* -----------------------------------------------------------FOOTER ----------------------------------------*/
  .main-footer {
    background-color: #3C0000;
    padding: 2rem;
    border-top: 1px solid #333;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .number-section, .facebook-section, .instagram-section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .number-icon, .face-icon, .insta-icon {
    width: 32px;
    height: 32px;
  }
  
  .number, .facebook {
    font-family: 'Antic Didone', serif;
    font-size: 0.9rem;
    color: #C9846A;
    text-decoration: none;
    white-space: nowrap;
  }


  /* -----------------------------------------------------------CELULAR ----------------------------------------*/

  @media screen and (max-width: 768px) {

   h1 {
    
    color: #C9846A;
    font-size: 450%;
    top: 0%; /* Centra verticalmente el encabezado */
    left: 50%; /* Centra horizontalmente el encabezado */
    transform: translate(-50%, -50%); /* Ajusta el texto para centrarlo */
    position: absolute; /* Superpone el encabezado sobre la imagen */
    z-index: 1; /* Asegura que el texto es*/

    }
    h2{
        margin-top: 20%;
        text-align: center; /* Centra el texto horizontalmente */
        font-size: 330%;
    
    }
    h6{
        
        text-align: center; /* Centra el texto horizontalmente */
        font-size: 330%;
    
    }
    .container img{
       max-width: 90%; /* Asegura que las imágenes no excedan el ancho del contenedor */
      height: auto; /* Mantiene la proporción de las imágenes */
      display: block; /* Elimina el espacio en la parte inferior de las imágenes */
      margin: auto; /* Centra las imágenes horizontalmente */
      border-radius: 15px;
    }
    .container {
    padding-top: 120px; /* Ajusta el valor según lo que necesites */
    }
    .img-principal {
      margin-top: 0; /* Elimina el margin-top grande si lo tenías */
    }
    .container-fragancias p {
    display: none;
    margin-top: 1px;
    }
    .container-fragancias {
    margin-top: 1px;
    }
    .notas-corazon,.notas-fondo,.notas-salida {
      display: flex;
      flex-direction: row;
      gap: 10px;
      overflow-x: auto;
      width: 100%;
      margin: 30px 0 0 0;
      padding: 10px 0;
      scroll-snap-type: x mandatory;
    }
    .notas-corazon img,.notas-fondo img,.notas-salida img {
      min-width: 70vw;
      max-width: 80vw;
      height: auto;
      scroll-snap-align: center;
    }
    .excel-box table {
    width: 90%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse; /* Elimina los espacios entre bordes */
    margin: 20px auto; /* Centra la tabla */
    background-color: #7c2a2a; /* Color de fondo de la tabla */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen */
}
   


  }
