@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
.main-footer {
    background-color: #3C0000;
    padding: 2rem;
    border-top: 1px solid #333;
    top:50%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.number-section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.facebook-section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #C9846A; /* Cambia el color al que prefieras */
    white-space: nowrap;
    text-decoration: none; /* Elimina el subrayado */
}
.instagram-section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.number-icon {
    width: 32px;
    height: 32px;
}
.face-icon {
    width: 32px;
    height: 32px;
}
.insta-icon {
    width: 32px;
    height: 32px;
}
.number{
    font-family: 'Antic Didone', serif;
    font-size: 0.9rem;
    color: #C9846A;
    white-space: nowrap;
}
.facebook {
    font-family: 'Antic Didone', serif;
    font-size: 0.9rem;
    color: #C9846A; /* Cambia el color al que prefieras */
    white-space: nowrap;
    text-decoration: none; /* Elimina el subrayado */
}
.instagram{
    font-family: 'Antic Didone', serif;
    font-size: 0.9rem;
    color: #3C0000;
    white-space: nowrap;
}
h1 {
    
    color: #171620;
    font-size: 400%;
    top: 10%; /* Centra verticalmente el encabezado */
    left: 26%; /* Centra horizontalmente el encabezado */
    transform: translate(-50%, -50%); /* Ajusta el texto para centrarlo */
    position: absolute; /* Superpone el encabezado sobre la imagen */
    z-index: 1; /* Asegura que el texto es*/

}
.delgado{
    font-weight: 100;/* Aplica fuente delgado */
}
body {
    background-image: url('https://i.imgur.com/tupHhqY.png'); /* Cambia la ruta por la URL o el archivo local */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: "Antic Didone", serif; /* Aplicamos la fuente a todo el sitio */
    margin: 0;
    padding: 0;
}
