/* Archivo de estilos CSS */

/* Selecciona el cuerpo del documento y aplica estilos generales */
body {
    color: #ffffff;
    background-color: #3C0000;
    font-family: "Antic Didone", serif; /* Aplicamos la fuente a todo el sitio */
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    display: block; /* Elimina el espacio en la parte inferior de las imágenes */
    margin: auto; /* Centra las imágenes horizontalmente */


}
.container {
    position: relative; /* Contenedor relativo para posicionar elementos hijos */
    text-align: center; /* Centra el texto horizontalmente */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.notas-salida{
    margin-top: 500px;
    display: grid; /* Activa CSS Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 10px; /* Espaciado entre las imágenes */
    width: 90%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    


}

.notas-salida img {
    border-radius: 15px; /* Ajusta el valor para redondear las esquinas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    cursor: pointer; /* Cambia el cursor a una mano interactuable */

}


/* Ejemplo de estilo para encabezados */
h1 {
    
    color: #171620;
    font-size: 500%;
    top: 1%; /* Centra verticalmente el encabezado */
    left: 50%; /* Centra horizontalmente el encabezado */
    transform: translate(-50%, -50%); /* Ajusta el texto para centrarlo */
    position: absolute; /* Superpone el encabezado sobre la imagen */
    z-index: 1; /* Asegura que el texto es*/

}
h2{
    color:#C9846A;
    font-size: 300%;
    text-align: center; /* Centra el texto horizontalmente */

}

.delgado{
    font-weight: 100;/* Aplica fuente delgado */
}
p {
    margin: 10px 0;
    color:#C9846A;
    font-size: 200%;
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 100px;
}
.tooltip {
    position: absolute;
    background-color: #C9846A;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    display: none; /* Oculto por defecto */
    z-index: 10;
}